# List of NFT contract addresses to fetch metadata and content from
[contracts]

# Tokens in format: "contract_address:token_id"
ethereum = [
    '0x3D7E6A293C5ca4cD6721Df1A99683802331793C7:26',
    '0x1D8629438f0Ce0DE787D48BEb3F153884B2F370d:12'
]
tezos = [
    'KT1DmEFfeqEC3nEx6bpWKqjNY8FF8RFrR3Gc:28'
]
